	<!-- start: Meta -->
	<meta charset="utf-8">
	<title><%= header.title %></title>
	<meta name="description" content="<%= header.description %>">
	<meta name="author" content="<%= header.author %>">
	<meta name="keyword" content="<%= header.keywords %>">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/style.min.css" rel="stylesheet">
	<link href="assets/css/retina.min.css" rel="stylesheet">
	<link href="assets/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="/assets/js/respond.min.js"></script>
		<link href="assets/css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="assets/css/ie9.css" rel="stylesheet">
	<![endif]-->
	
	<!-- start: Favicon and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
	<!-- end: Favicon and Touch Icons -->
	<% if((user) && (!user.company_id)){ %>
	<script>
		if(window.location.href.indexOf("setup") ==  -1){
			window.location.href = "/setup.html";
		}
	</script>
	<% }else{ %>
	<script>
		var user = <%- JSON.stringify(user) %>;
		var conn = {dbpath: "<%= dbpath %>", dbserver: "<%= dbserver%>"};

		function getCompanyDatabasePath(u){
			return conn.dbserver + "/" + user.company_id;
		}

		function getSystemDatabasePath(){
			return conn.dbpath;
		}
	</script>
	<% } %>	