<!doctype html>
<html>
<head>
	<title>Social Facebook Share</title>
	<meta property="fb:app_id"          content="211565578998057" /> 
	<meta property="og:type"            content="profile" /> 
	<meta property="og:url"             content="http://notebook.agamecompany.com/social/<%= id %>" /> 
	<meta property="og:title"           content="<%= subject %>" /> 
	<meta property="og:description"           content="<%= description %>" /> 
	<meta property="<%= media_type %>"  content="<%= media_url %>" /> 
	<meta property="og:site_name"       content="Note book" /> 
	<meta property="og:ttl"           	content="7" /> 
</head>
<body>
<div class="container">

		<%= id %>

</div>
</body>
</html>